*{
    margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: Arial, Helvetica, sans-serif;

}
.bluebg{
    background-color: #0C4F70;
    color:white;
}
img{
    width: 100%;
    display: block;

}
.missing{
    background-color: #E84A61;

}
.missing p{
    font-size: 5vw;
    margin-bottom: 0;
}


@media (min-width:990px){
    .missing p{
        font-size: 5.5vw;
       
    
    }
    
}